@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lobster&display=swap');
body {
  font-family: 'Lobster', cursive;
  font-family: 'Amatic SC', cursive;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}

